<mat-toolbar class="example-spacer" color="primary">

    <mat-toolbar-row>
        <span>STC Task</span>
        <span class="example-spacer"></span>
        <button (click)="changeLang()" mat-icon-button class="example-icon"
            aria-label="Example icon-button with translate icon">
            <mat-icon>translate</mat-icon>
        </button>
        <button (click)="logout()" mat-icon-button class="example-icon"
            aria-label="Example icon-button with logout icon">
            <mat-icon>logout</mat-icon>
        </button>

    </mat-toolbar-row>
</mat-toolbar>