.product-card {
  max-width: 250px;
}

.product-image {
  max-height: 150px;
  object-fit: contain;
  margin: 25px;
}

.product-title {
  -webkit-line-clamp: 1; /* start showing ellipsis when 3rd line is reached */
}

.product-description {
  -webkit-line-clamp: 2; /* start showing ellipsis when 3rd line is reached */
}

.text-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: pre-wrap; /* let the text wrap preserving spaces */
}
